@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
body {
  background: #090b1a;
  font-family: "Inter", sans-serif;
}

.center-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  max-height: 500px;
  max-width: 800px;
  background: #1b1938;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 8px;
}

.image-container img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-body {
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.card-body h2,
.card-body h3 {
  color: white;
}
.card-body #highlight {
  color: #aa5cdb;
}
.card-body p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
}
.card-body .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-body .stats #stats-container {
  padding: 20px;
  text-align: start;
}
.card-body .stats p {
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    background: #1b1938;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .image-container img {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
  }

  .card-body {
    padding: 0;
  }
  .card-body .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-body .stats #stats-container {
    text-align: center;
  }
}